[Desktop Entry]
Type=Application
Name=Eclipse Mars
Comment=Eclipse Mars Integrated Development Environment
Icon={{ ansible_env.HOME }}/etc/mars/eclipse/plugins/org.eclipse.platform_4.5.2.v20160212-1500/eclipse256.png
Exec={{ ansible_env.HOME }}/etc/mars/eclipse
Terminal=false
Categories=Development;IDE;Java;
StartupWMClass=Eclipse
